/* Grid
–––––––––––––––––––––––––––––––––––––––––––––––––– */

$mobile: 500px;
$middle: 650px;
$tablet: 800px;

.container {
  position: relative;
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.full-container {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.narrow {
  position: relative;
  width: 100%;
  max-width: 940px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.narrower {
  position: relative;
  width: 100%;
  max-width: 640px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;

  img {
    min-width: 940px;
    margin: 2rem 0rem;
    margin-left: -150px;
  }

}

.narrow-no-image {
  position: relative;
  width: 100%;
  max-width: 640px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.author {
  position: relative;
  width: 100%;
  max-width: 640px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.column,
.columns {
  width: 100%;
  float: left;
  box-sizing: border-box; }

/* For devices larger than 400px */
@media (min-width: $mobile) {
  .container {
    width: 85%;
    padding: 0;
  }

}

@media (max-width: $mobile) {
  .narrower {
    img {
      margin-left: 0;
      width: 100%;
      min-width: 100%;
      height: auto;
    }
  }
  .gridlet {
    .columns {
      width: 50%;

    }
    .image {
      width: 50%;
    }
  }
}

/* For devices larger than 550px */
@media (min-width: $mobile) {
  .container {
    width: 80%; }
  .column,
  .columns {
    margin-left: 4%; }
  .column:first-child,
  .columns:first-child {
    margin-left: 0; }

  .gridlet {
    margin-top: 2rem;
  }

  .gridlet:first-child {
    margin-top: 0rem;
  }

  .narrow {
    .column:nth-child(2) {
      margin-left: 0rem;
    }
  }

  .half {
    width: 50%;
    float: left;

    .container {
      width: 50%;
    }
  }

  .half.row {
        padding-top: 8em;
        padding-bottom: 8em;
      }



  .one.column,
  .one.columns                    { width: 4.66666666667%; }
  .two.columns                    { width: 13.3333333333%; }
  .three.columns                  { width: 22%;            }
  .four.columns                   { width: 30.6666666667%; }
  .five.columns                   { width: 39.3333333333%; }
  .six.columns                    { width: 48%;            }
  .seven.columns                  { width: 56.6666666667%; }
  .eight.columns                  { width: 65.3333333333%; }
  .nine.columns                   { width: 74.0%;          }
  .ten.columns                    { width: 82.6666666667%; }
  .eleven.columns                 { width: 91.3333333333%; }
  .twelve.columns                 { width: 100%; margin-left: 0; }

  .one-third.column               { width: 30.6666666667%; }
  .two-thirds.column              { width: 65.3333333333%; }

  .one-half.column                { width: 48%; }

  /* Offsets */
  .offset-by-one.column,
  .offset-by-one.columns          { margin-left: 8.66666666667%; }
  .offset-by-two.column,
  .offset-by-two.columns          { margin-left: 17.3333333333%; }
  .offset-by-three.column,
  .offset-by-three.columns        { margin-left: 26%;            }
  .offset-by-four.column,
  .offset-by-four.columns         { margin-left: 34.6666666667%; }
  .offset-by-five.column,
  .offset-by-five.columns         { margin-left: 43.3333333333%; }
  .offset-by-six.column,
  .offset-by-six.columns          { margin-left: 52%;            }
  .offset-by-seven.column,
  .offset-by-seven.columns        { margin-left: 60.6666666667%; }
  .offset-by-eight.column,
  .offset-by-eight.columns        { margin-left: 69.3333333333%; }
  .offset-by-nine.column,
  .offset-by-nine.columns         { margin-left: 78.0%;          }
  .offset-by-ten.column,
  .offset-by-ten.columns          { margin-left: 86.6666666667%; }
  .offset-by-eleven.column,
  .offset-by-eleven.columns       { margin-left: 95.3333333333%; }

  .offset-by-one-third.column,
  .offset-by-one-third.columns    { margin-left: 34.6666666667%; }
  .offset-by-two-thirds.column,
  .offset-by-two-thirds.columns   { margin-left: 69.3333333333%; }

  .offset-by-one-half.column,
  .offset-by-one-half.columns     { margin-left: 52%; }

}

.top-space {
  margin-top: 4em;
}

.space {
  margin-bottom: 4rem;
}

.bleed-left {
    margin: 0 0 0 -9989px;
    padding: 0 0 0 0;
    border-radius: 4px;
    background-size: cover;
}

.bleed-right {
    margin: 0 -9989px 0 0;
    padding: 4rem 9999px 4rem 4rem;
    border-radius: 4px;
    background-size: cover;
}

.author-profile {
  .blog-posting {
    margin-bottom: 1.5em;

    &:last-child {
      margin-bottom: 0em;
    }
  }
}

.home-service {
  padding-top: 4em;
  padding-bottom: 4em;
}

.no-top {
  padding-top: 0em;
}

.no-base {
  padding-bottom: 0em;
}

@media (max-width: 550px) {
  .container {
    .column {
      margin-bottom: 4rem;
    }
    .column:last-child {
      margin-bottom: 0rem;
    }
  }
  .footer {
    padding-bottom: 0em;

    .columns {
      margin-bottom: 2em;

      &:last-child {
        margin-bottom: 0em;
      }
    }
  }
}

.blog-block {
  overflow: hidden;

  &:hover {
    .progress-container {
      margin-top: 22rem;
      opacity: 0;
    }
  }
}

.team {
  .container:first-child {
    margin-bottom: 3em;
  }
}

.line-break {
  width: 100%;
  height: 1px;
  background-color: #dbdbdb;
}

.short-stack {
  padding-top: 2em;
  padding-bottom: 1.8em;
}

.blog-block:nth-child(3) {
  margin-left: 0%;
}

.masonry {
  .twelve {
    .white-box {
      margin-bottom: 0rem;
    }
  }
}

.masonry:last-child {
  margin-bottom: 0rem;
}
