<!-- Contact form layout
–––––––––––––––––––––––––––––––––––––––––––––––––– -->

<form>
  <div class="row light">
    <div class="container narrow">
      <div class="twelve columns center space">
        <h2>So, how can we help you?</h2>
        <p class="narrower">Want to increase your visibility in organic search? Improve ROI from your PPC campaigns? Captivate customers with compelling content? Transform your website's UX & design?</p>
      </div>
      <div class="one-half column">
        <label for="exampleEmailInput">Your Name</label>
        <input class="u-full-width form-box" type="email" placeholder="Elon Musk" id="exampleEmailInput">
        <label for="exampleEmailInput">Your Email</label>
        <input class="u-full-width form-box" type="email" placeholder="elon@teslar.com" id="exampleEmailInput">
      </div>
      <div class="one-half column">
        <label for="exampleRecipientInput">How can we help you?</label>
        <select class="u-full-width form-box" id="exampleRecipientInput">
          <option value="Option 1">I have an SEO problem!</option>
          <option value="Option 2">I'm looking for better PPC results!</option>
          <option value="Option 3">I need a full digital marketing solution!</option>
        </select>
        <label for="exampleEmailInput">Your Website</label>
        <input class="u-full-width form-box" type="email" placeholder="www.teslar.com" id="exampleEmailInput">
      </div>
      <div style="margin-bottom: 2rem;" class="twelve columns">
      <label for="exampleMessage">Your message to us</label>
      <textarea class="u-full-width form-box" placeholder="Hi Team Seed …" id="exampleMessage"></textarea>
      </div>
      <div style="margin-bottom: 2rem;" class="twelve columns center">
        <input style="margin-bottom: 2rem;" class="button-primary center" type="submit" value="Send Message">
        <p class="small">Or just <i class="far fa-envelope-open"></i> us on</p>
        <h4 style="margin-top: -3rem;"><a class="link-cta">hello@seedpublicity.co.uk</a></h4>
      </div>
    </div>
  </div>
</form>
