<!-- Half column layout
–––––––––––––––––––––––––––––––––––––––––––––––––– -->

<div class="row quote dark">
  <div class="container">
    <div class="one-half column">
      <h3>Digital Marketing. Simplified.</h3>
      <p>We’re a <b>digital marketing agency based in Brighton, Sussex & London</b> that’s dedicated to driving quality traffic, engaging audiences and converting more of your visitors into lifelong customers.</p>
      <p><b>Straight talking, smart thinking</b>  – no nonsense, no tech jargon, no fluff. Our honest and transparent approach to delivering unparalleled digital marketing services is the reason why we are fast becoming Brighton’s leading digital marketing agencies.</p>
      <a class="link-cta" href="">Find out why we're awesome <span class="read-more">></span></a>
    </div>
    <div class="one-half column">
      <blockquote>
        “Working with <b>Seed</b> has been an absolute pleasure. They took the time to understand our business and it felt like they were an extension of our own marketing department.”
        <p>Tania Ross, Fleetway Travel</p>
      </blockquote>
    </div>
  </div>
</div>
