<!-- Masthead Layout
–––––––––––––––––––––––––––––––––––––––––––––––––– -->

<div class="row masthead dark hexagons">
  <div class="container">
    <div class="one-half column">
      <h1>Looking for Brighton's leading Digital Marketing Agency?</h1>
      <h6>GOOD! YOU'VE JUST FOUND US.</h6>
      <h3>Digital marketing delivered by people who care about your business.</h3>
      <p><b>Want to know how we can help grow your business?</b><br> Just pop us a quick <i class="far fa-envelope-open"></i> to <a href="mailto:hello@seedpublicity.co.uk">hello@seedpublicity.co.uk</a></p>
    </div>
    <div class="one-half column">
    </div>
  </div>
</div>
