<!-- Project portfolio layout
–––––––––––––––––––––––––––––––––––––––––––––––––– -->

<div class="row dark">
  <div class="container">
    <div class="one-half column">
      <h3>We help our clients get more customers</h3>
      <p>Our expertise in digital marketing has enabled us to deliver excellent results for businesses by increasing their website's search presence and visibility with their customers online. We're goal-driven, passionate and we work hard to exceed expectations at every opportunity.</p>
    </div>
    <div class="one-half column">

    </div>
  </div>
  <div class="container top-space">
    <div class="three columns blog-block progress-block" style="background: linear-gradient(rgba(43, 45, 66, 0.7), rgba(43, 45, 66, 0.7)), url(https://static.dezeen.com/uploads/2016/10/ancestry-genealogy-tech-company-office-utah-rapt-studio_dezeen_sq-411x411.jpg); background-size: cover;">
      <div class="progress-container">
	       <svg class="results" width="220" height="220" viewBox="0 0 120 120">
    			<circle cx="60" cy="60" r="54" fill="none" stroke="rgba(186, 186, 186, 0.4)" stroke-width="6" />
    			<circle class="value" cx="60" cy="60" r="54" fill="none" stroke="#fff" stroke-width="6" />
	       </svg>
	       <div class="text">
      		<h4>70%</h4>
      		<p>Increase in Organic<br>Search</p>
	       </div>
       </div>
       <h3>Swift Office Cleaning</h3>
       <a>Read More</a>
    </div>
    <div class="three columns blog-block progress-block" style="background: linear-gradient(rgba(43, 45, 66, 0.7), rgba(43, 45, 66, 0.7)), url(https://static.dezeen.com/uploads/2016/10/ancestry-genealogy-tech-company-office-utah-rapt-studio_dezeen_sq-411x411.jpg); background-size: cover;">
      <div class="progress-container">
	       <svg class="results" width="220" height="220" viewBox="0 0 120 120">
    			<circle cx="60" cy="60" r="54" fill="none" stroke="rgba(186, 186, 186, 0.4)" stroke-width="6" />
    			<circle class="value-2" cx="60" cy="60" r="54" fill="none" stroke="#fff" stroke-width="6" />
	       </svg>
	       <div class="text">
      		<h4>45%</h4>
      		<p>Increase in Organic<br>Search</p>
	       </div>
       </div>
       <h3>Lowe Guardians</h3>
       <a>Read More</a>
    </div>
    <div class="three columns blog-block progress-block" style="background: linear-gradient(rgba(43, 45, 66, 0.7), rgba(43, 45, 66, 0.7)), url(https://static.dezeen.com/uploads/2016/10/ancestry-genealogy-tech-company-office-utah-rapt-studio_dezeen_sq-411x411.jpg); background-size: cover;">
      <div class="progress-container">
	       <svg class="results" width="220" height="220" viewBox="0 0 120 120">
    			<circle cx="60" cy="60" r="54" fill="none" stroke="rgba(186, 186, 186, 0.4)" stroke-width="6" />
    			<circle class="value-3" cx="60" cy="60" r="54" fill="none" stroke="#fff" stroke-width="6" />
	       </svg>
	       <div class="text">
      		<h4>90%</h4>
      		<p>Conversion Rate<br>Increase</p>
	       </div>
       </div>
       <h3>Mulberry Bush</h3>
       <a>Read More</a>
    </div>
    <div class="three columns blog-block progress-block" style="background: linear-gradient(rgba(43, 45, 66, 0.7), rgba(43, 45, 66, 0.7)), url(https://static.dezeen.com/uploads/2016/10/ancestry-genealogy-tech-company-office-utah-rapt-studio_dezeen_sq-411x411.jpg); background-size: cover;">
      <div class="progress-container">
	       <svg class="results" width="220" height="220" viewBox="0 0 120 120">
    			<circle cx="60" cy="60" r="54" fill="none" stroke="rgba(186, 186, 186, 0.4)" stroke-width="6" />
    			<circle class="value-4" cx="60" cy="60" r="54" fill="none" stroke="#fff" stroke-width="6" />
	       </svg>
	       <div class="text">
      		<h4>10%</h4>
      		<p>Increase in Organic<br>Search</p>
	       </div>
       </div>
       <h3>Dean Wilson LLP</h3>
       <a>Read More</a>
    </div>
  </div>
</div>
