<!-- Service grid list
–––––––––––––––––––––––––––––––––––––––––––––––––– -->

<div class="featured-blog home-service confetti">
  <div class="container space">
    <div class="three columns blog-block" style="background: linear-gradient(rgba(43, 45, 66, 0.7), rgba(43, 45, 66, 0.7)), url(https://static.dezeen.com/uploads/2016/10/ancestry-genealogy-tech-company-office-utah-rapt-studio_dezeen_sq-411x411.jpg); background-size: cover;">
      <a>Read More</a>
      <h6>SEO</h6>
    </div>
    <div class="three columns blog-block" style="background: linear-gradient(rgba(43, 45, 66, 0.7), rgba(43, 45, 66, 0.7)), url(https://static.dezeen.com/uploads/2016/10/ancestry-genealogy-tech-company-office-utah-rapt-studio_dezeen_sq-411x411.jpg); background-size: cover;">
      <a>Read More</a>
      <h6>PPC</h6>
    </div>
    <div class="three columns blog-block" style="background: linear-gradient(rgba(43, 45, 66, 0.7), rgba(43, 45, 66, 0.7)), url(https://static.dezeen.com/uploads/2016/10/ancestry-genealogy-tech-company-office-utah-rapt-studio_dezeen_sq-411x411.jpg); background-size: cover;">
      <a>Read More</a>
      <h6>Social Advertising</h6>
    </div>
    <div class="three columns blog-block" style="background: linear-gradient(rgba(43, 45, 66, 0.7), rgba(43, 45, 66, 0.7)), url(https://static.dezeen.com/uploads/2016/10/ancestry-genealogy-tech-company-office-utah-rapt-studio_dezeen_sq-411x411.jpg); background-size: cover;">
      <a>Read More</a>
      <h6>Analytics</h6>
    </div>
  </div>
  <div class="container">
    <div class="three columns blog-block" style="background: linear-gradient(rgba(43, 45, 66, 0.7), rgba(43, 45, 66, 0.7)), url(https://static.dezeen.com/uploads/2016/10/ancestry-genealogy-tech-company-office-utah-rapt-studio_dezeen_sq-411x411.jpg); background-size: cover;">
      <a>Read More</a>
      <h6>Content Creation</h6>
    </div>
    <div class="three columns blog-block" style="background: linear-gradient(rgba(43, 45, 66, 0.7), rgba(43, 45, 66, 0.7)), url(https://static.dezeen.com/uploads/2016/10/ancestry-genealogy-tech-company-office-utah-rapt-studio_dezeen_sq-411x411.jpg); background-size: cover;">
      <a>Read More</a>
      <h6>Email Marketing</h6>
    </div>
    <div class="six columns blog-block featured">
      <h3><b>Digital Marketing Agency in Brighton, Sussex & London</b></h3>
      <p>We provide our clients with SEO, PPC and digital marketing services that ethically and sustainably increase their online visibility, and ultimately acquire more customers.</p>
    </div>
  </div>
</div>
