<!-- Our Team layout
–––––––––––––––––––––––––––––––––––––––––––––––––– -->

<div class="row dark team triangles">
  <div class="container">
    <div class="one-half column">
      <h2>Our Team</h2>
      <p>We're a skilled bunch with a shared passion for digital marketing and delivering outstanding campaigns for our clients. But most importantly, we all love what we do every day.</p>
    </div>
    <div class="one-half column">
    </div>
  </div>
  <div class="container space">
      <div class="three columns center member">
        <img src="images/robin.png" width="100%" height="auto">
        <h5>Nick Stuart-Miller</h5>
        <p>Founder & CEO</p>
      </div>
      <div class="three columns center member">
        <img src="images/robin.png" width="100%" height="auto">
        <h5>Robin Bush</h5>
        <p>Director</p>
      </div>
      <div class="three columns center member">
        <img src="images/robin.png" width="100%" height="auto">
        <h5>Beth Cadman</h5>
        <p>Content Marketing Executive</p>
      </div>
      <div class="three columns center member">
        <img src="images/robin.png" width="100%" height="auto">
        <h5>Ollie Cload</h5>
        <p>Search Marketing Executive</p>
      </div>
  </div>
  <div class="container space">
      <div class="three columns center member">
        <img src="images/robin.png" width="100%" height="auto">
        <h5>Billy Dawson</h5>
        <p>Literal Legend</p>
      </div>
      <div class="three columns center member">
        <img src="images/robin.png" width="100%" height="auto">
        <h5>Emma Owens</h5>
        <p>Search Marketing Executive</p>
      </div>
      <div class="three columns center member">
        <img src="images/robin.png" width="100%" height="auto">
        <h5>Tom Kavanaugh</h5>
        <p>Search Marketing Executive</p>
      </div>
      <div class="three columns center member">
        <img src="images/robin.png" width="100%" height="auto">
        <h5>Anthony Cole</h5>
        <p>Search Marketing Executive</p>
      </div>
  </div>
  <div class="container">
      <div class="three columns center member">
        <img src="images/robin.png" width="100%" height="auto">
        <h5>Ruariadh Johnston</h5>
        <p>Search Marketing Executive</p>
      </div>
      <div class="three columns center member">
        <img src="images/robin.png" width="100%" height="auto">
        <h5>Leanne Biggins</h5>
        <p>Content Marketing Executive</p>
      </div>
      <div class="three columns center member">
        <img src="images/robin.png" width="100%" height="auto">
        <h5>Laura Comben</h5>
        <p>Content Marketing Executive</p>
      </div>
      <div class="three columns center member">
        <img src="images/robin.png" width="100%" height="auto">
        <h5>Bert</h5>
        <p>Everyone's Best Friend</p>
      </div>
  </div>
</div>
