<!-- Testimonials layout
–––––––––––––––––––––––––––––––––––––––––––––––––– -->

<div class="row dark confetti">
  <div class="container narrow">
    <div style="text-align: center;" class="twelve columns">
      <h2>What our clients say about us</h2>
      <p>“Working with <b>Seed</b> has been wonderful. The team have achieved page 1, position 1
        rankings in Google for more than 100 of our targeted keywords.  We’ve even been featured
        on the BBC and ITV, and into every national newspaper. Seed have done a fantastic job
        from SEO to PPC, PR to email marketing. I couldn’t have asked for more – a brilliant company.”</p>
      <h6>Alex Dyer, Tutor House</h6>
    </div>
  </div>
</div>
