<!-- Top Footer layout
–––––––––––––––––––––––––––––––––––––––––––––––––– -->

<div class="row dark footer">
  <div class="container">
    <div class="three columns">
      <h6>Digital Marketing Services</h6>
      <p class="small">Search Engine Marketing</p>
      <p class="small">Pay Per Click Advertising</p>
      <p class="small">Social Media Advertising</p>
      <p class="small">Content Creation</p>
    </div>
    <div class="three columns">
      <h6>Our Company</h6>
      <p class="small">Meet our team</p>
      <p class="small">Our results</p>
      <p class="small">Careers</p>
    </div>
    <div class="three columns">
      <h6>Contact our team</h6>
      <p class="small">Seed Publicity 21-22 Old Steine, Brighton, BN1 1EL.</p>
      <p><a class="link-cta small">hello@seedpublicity.co.uk</a></p>
      <p><a class="link-cta small">01273 286 616</a></p>
      <p class="small">Company Number: 9526599</p>
    </div>
    <div class="three columns">
      <h6>Follow us</h6>
      <ul>
        <li class="footer-item"><img src="images/Google+.svg" width="100%" height="auto" alt="Google Plus Logo"></li>
        <li class="footer-item"><img src="images/Facebook.svg" width="100%" height="auto" alt="Facebook Logo"></li>
        <li class="footer-item"><img src="images/Twitter.svg" width="100%" height="auto" alt="Twitter Logo"></li>
        <li class="footer-item"><img src="images/Instagram.svg" width="100%" height="auto" alt="Instagram Logo"></li>
      </ul>
    </div>
  </div>
</div>
